<!-- <div>
  <nz-header class="main-header custom-navbar" nz-row nzType="flex">
    <div class="navbar-title">
      <a routerLink="/login">Hygge</a>
    </div>
    <div class="nav-links">
      <a
        nz-button
        nzType="link"
        routerLink="/register"
        routerLinkActive="active"
        >S'inscrire</a
      >
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active"
        >Se connecter</a
      >
    </div>
  </nz-header>
</div> -->
<router-outlet></router-outlet>
